<body>
  <div class="expense-tracker" [ngClass]="{ 'dark-mode': isDarkMode, 'large-text': isLargeText }">
    <header class="header">
      <h1>FINANCIAL MANAGEMENT</h1>
      <div class="header-buttons">
        <a class="back-button" onclick="window.history.back();"><span>&larr; Back</span></a>
      </div>
    </header>

    <div class="total-expenses-box">
      <span
        >Total Expenses: <span class="total-expenses-value">£{{ totalExpenses.toFixed(2) }}</span></span
      >
      <button class="clear-data-button" (click)="clearData()">&#10005;</button>
    </div>

    <div class="container">
      <div class="left-container">
        <h2>Add Expense:</h2>
        <form id="expenseForm" (submit)="addExpense($event, expenseName.value, expenseAmount.value, expenseDate.value)">
          <div class="form-group">
            <input type="text" id="expenseName" name="expenseName" #expenseName placeholder="Expense name..." required />
          </div>
          <div class="form-group">
            <input
              type="number"
              id="expenseAmount"
              name="expenseAmount"
              #expenseAmount
              min="0"
              step="0.01"
              placeholder="Expense amount..."
              required
            />
          </div>
          <div class="form-group">
            <input type="date" id="expenseDate" name="expenseDate" #expenseDate placeholder="Expense date..." required />
          </div>

          <button type="submit">Add Expense</button>
        </form>

        <div class="budget-input">
          <button (click)="openBudgetModal()">Set Budget</button>
          <div class="remaining-budget" *ngIf="budget > 0">
            Remaining Budget:
            <span [ngClass]="{ 'positive-budget': remainingBudget >= 0, 'negative-budget': remainingBudget < 0 }"
              >£{{ remainingBudget.toFixed(2) }}</span
            >
          </div>
          <button class="clear-budget-button" (click)="clearBudget()">X</button>
        </div>
        <div class="import-file">
          <input type="file" id="fileInput" (change)="onFileSelected($event)" accept=".json" style="display: none" />
          <button (click)="openFileInput()">Import File</button>
          <span [ngClass]="{ 'no-file': !fileImported, 'file-imported': fileImported }">
            {{ fileImported ? 'File Imported' : 'No File Selected' }}
          </span>
          <button class="remove-file-button" *ngIf="fileImported" (click)="removeImportedFile()">&times;</button>
        </div>
      </div>

      <div class="right-container">
        <h2>Expense List:</h2>
        <div class="search-bar">
          <input type="text" [(ngModel)]="searchText" placeholder="Search expenses..." />
          <button (click)="searchExpenses()">Search</button>
          <button (click)="clearSearch()">Clear</button>

          <div class="sort-dropdown">
            <button (click)="toggleSortDropdown()">{{ selectedSortOption }}</button>
            <div class="sort-options" *ngIf="showSortDropdown">
              <div (click)="sortExpenses('newest')">Newest - Oldest</div>
              <div (click)="sortExpenses('oldest')">Oldest - Newest</div>
              <div (click)="sortExpenses('amount-desc')">Amount (Desc)</div>
              <div (click)="sortExpenses('amount-asc')">Amount (Asc)</div>
              <div (click)="sortExpenses('name')">Name (A-Z)</div>
              <div (click)="clearSorting()">Clear</div>
            </div>
          </div>
        </div>

        <div class="expense-list">
          <div class="expense-box" *ngFor="let expense of filteredExpenses; let i = index">
            <span class="expense-name">{{ expense.name }}</span>
            <span class="expense-details">
              <span class="expense-amount">£{{ expense.amount.toFixed(2) }}</span>
              <span class="expense-date">{{ expense.date }}</span>
            </span>
            <button class="remove-button" (click)="removeExpense(i)">X</button>
          </div>
        </div>

        <div class="button-container">
          <div class="dropdown">
            <button class="dropbtn">Save Report</button>
            <div class="dropdown-content">
              <a (click)="saveReport('json')">JSON</a>
              <a (click)="saveReport('pdf')">PDF</a>
              <!--            <a (click) ="saveReport('database')">DATABASE</a>-->
            </div>
          </div>
          <button class="view-graph-button" (click)="scrollToGraph()">View Graphs</button>
        </div>
      </div>
    </div>

    <div class="modal" *ngIf="showSaveModal">
      <div class="modal-background" (click)="showSaveModal = false"></div>
      <div class="modal-content">
        <div class="box">
          <p>Do you want to include the database ID in the JSON file?</p>
          <button class="button is-primary" (click)="saveJsonFile(true)">Yes</button>
          <button class="button" (click)="saveJsonFile(false)">No</button>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" (click)="showSaveModal = false"></button>
    </div>

    <div class="modal" *ngIf="showBudgetModal">
      <div class="modal-content">
        <h2>Set Budget</h2>
        <input type="number" [(ngModel)]="budgetAmount" placeholder="Enter budget amount" />

        <button (click)="setBudget()">Set</button>
        <button (click)="closeBudgetModal()">Cancel</button>
      </div>
    </div>

    <div id="expenseTracker" class="statistics-section">
      <h1>EXPENSE STATISTICS</h1>

      <div class="chart-wrapper">
        <div class="chart-header">
          <h2>BAR CHART</h2>
          <button (click)="toggleBarChartVisibility()">{{ barChartVisible ? 'Hide' : 'Show' }} Chart</button>
        </div>
      </div>
      <div class="barChartContainer" *ngIf="barChartVisible">
        <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          type="bar"
        >
        </canvas>
        <div class="description">
          This is a bar chart which is made up of data inputted by the user. On the y axis is the expense amount and on the x axis is the
          name of each expense.
        </div>
      </div>

      <div class="chart-wrapper">
        <div class="chart-header">
          <h2>PIE CHART</h2>
          <button (click)="togglePieChartVisibility()">{{ pieChartVisible ? 'Hide' : 'Show' }} Chart</button>
        </div>
      </div>
      <div class="pieChartContainer" *ngIf="pieChartVisible">
        <canvas
          baseChart
          [datasets]="pieChartData"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [legend]="pieChartLegend"
          type="pie"
        >
        </canvas>
        <div class="description">
          This is a pie chart which is made up of data inputted by the user. The pie chart totals the amount spent in each month.
        </div>
      </div>
    </div>
  </div>
</body>
